@import url(https://fonts.googleapis.com/css?family=Asta+Sans:300,regular,500,600,700,800);

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(https://png.pngtree.com/background/20230611/original/pngtree-the-scene-of-an-ancient-roman-building-picture-image_3171707.jpg);
  background-size: cover;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: outset;
  /*padding-top: 20px;
  padding-bottom: 100px;*/
  background-color: rgb(186, 178, 178);
  height: 35vh;
}

#title {
  border: 8px double black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0px 5px;
  background-color: beige;
  font-style: "astra sans", cursive;
}

#sec-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 20px;
}

#third-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}

#number {
  padding: 8px;
  font-size: 14px;
}

#convert-btn {
  padding: 8px;
  font-size: 14px;
  width: 30%;
}

#output {
  padding: 8px;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  width: 20vh;
  height: 2vh;
}

#copy-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
}

#copy-btn:hover {
  background-color: #45a049;
}
