body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: outset;
  padding-top: 20px;
  padding-bottom: 100px;
  gap: 10px;
}

#title {
  border: 8px double black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0px 5px;
}

#number {
  padding: 8px;
  font-size: 14px;
}

#convert-btn {
  padding: 8px;
  font-size: 14px;
  width: 30%;
}
